/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run tfehlmann/nf-redun-06 -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test WES 2 samples profile'
    config_profile_description = 'Test pipeline performance on 2 WES samples and whole genome'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 64
    max_memory = '128.GB'
    max_time   = '8.h'

    // Input data
    input = 'https://raw.githubusercontent.com/tfehlmann/nf-redun-06/main/test/test_samplesheet_s3_test2.csv'
    genome_fasta = "https://hgdownload.soe.ucsc.edu/goldenPath/hg38/bigZips/hg38.fa.gz"
    known_indels = "gs://genomics-public-data/resources/broad/hg38/v0/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
    known_indels_tbi = "gs://genomics-public-data/resources/broad/hg38/v0/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz.tbi"
    known_snps = "gs://genomics-public-data/resources/broad/hg38/v0/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
    known_snps_tbi = "gs://genomics-public-data/resources/broad/hg38/v0/1000G_phase1.snps.high_confidence.hg38.vcf.gz.tbi"
}
